server:
  port: 9527
spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      routes:
        - id: route_1
          uri: http://localhost:8001
          predicates:
            - Path=/provider/**
            - Method=POST
eureka:
  client:
    service-url:
      defaultZone: http://eureka7001.com:7001/eureka/
