debug: true
server:
  port: 9002
  servlet:
    context-path: /provider
spring:
  application:
    name: nacos-provider-service
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848